.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.mainContainer {
  display: flex;
  flex: 1;
}

.main {
  flex: 1;
  padding: 2rem;
  background-color: #ffffff;
  overflow-y: auto;
}

@media (max-width: 768px) {
  .main {
    padding: 1rem;
  }
}
